body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("pic1.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-attachment: fixed;
}